#basemainid{
    color: whitesmoke;
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;

}
#register{
    background-color: orange;
    font-size: 150%;
    font-weight: bold;
    width: 200px;
    height: 45px;
    margin-left: 2.5%;
    border-color: whitesmoke;
}