/* Body styles */

h1 {
  color: rgb(27, 27, 248);
  text-align: center;
}
label,p{
  color: white;
}

.error-message{
  background-color: white;
  margin-left: 7%;
  padding: 3px;
  border-radius: 3px;
  border-color: none;
  color: red;
  font-family: 'Roboto';
}

body {
  font-family: Arial, sans-serif;
  /* background-color: #f0f0f0; */
  background-image: url(images/img3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}

/* Form container styles */
.form-container {
  max-width: 370px;
  margin: 1% auto;
  padding: 5px 20px 5px 20px;
  /* background-color: #fff; */
  /* background-image: url(images/bgreg.jpg); */
  background-color: transparent;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  .form-container {
    max-width: 80%; /* Adjust width for smaller screens */
    margin: 20px auto;
  }
}

/* Form field styles */
form input[type="text"],
form input[type="password"],
form input[type="email"] {
  font-size: 90%;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Submit button styles */
form input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Link styles */
a {
  color: #007bff;
  text-decoration: none;
}
.backtohome{
  color: #007bff;
  text-decoration: none;
  margin-left: 10%;
}

a:hover {
  text-decoration: underline;
}
